@model PrimoCeramic.Models.ViewModel.AppointmentDetailsViewModel
@using PrimoCeramic.Extensions
@using PrimoCeramic.Utility
@{
    ViewData["Title"] = "Delete";
}

<br />
<br />
<br />

<h2 class="text-info">Appointment Delete</h2>


<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Appointment.ID" />

        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">

                    <label asp-for="Appointment.CustomerName"></label>
                </div>
                <div class="col-8">

                    <input asp-for="Appointment.CustomerName" disabled class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">

                    <label asp-for="Appointment.CustomerEmail"></label>
                </div>
                <div class="col-8">

                    <input asp-for="Appointment.CustomerEmail" disabled class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">

                    <label asp-for="Appointment.AppointmentDate"></label>
                </div>
                <div class="col-8">

                    <input asp-for="Appointment.AppointmentDate" disabled id="datepicker" type="text" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">

                    <label asp-for="Appointment.AppointmentTime"></label>
                </div>
                <div class="col-8">

                    <input asp-for="Appointment.AppointmentTime" disabled id="timepicker" type="text" class="form-control timepicker" />
                </div>
                <span asp-validation-for="Appointment.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">

                    <label asp-for="Appointment.CustomerPhone"></label>
                </div>
                <div class="col-8">

                    <input asp-for="Appointment.CustomerPhone" disabled class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">

                    <label asp-for="Appointment.SalesPerson"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input asp-for="@Model.Appointment.SalesPerson.Name" disabled class="form-control" />
                        <input asp-for="@Model.Appointment.SalesPersonID" hidden />

                    }
                    else
                    {
                        <select asp-for="@Model.Appointment.SalesPersonID" asp-items="Model.SalesPerosn.ToSelectListItemString(Model.Appointment.SalesPersonID)" disabled class="form-control"></select>
                    }

                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">

                    <label asp-for="Appointment.IsConfirmed"></label>
                </div>
                <div class="col-8">

                    <input asp-for="Appointment.IsConfirmed" disabled class="form-control" />
                </div>

            </div>
        </div>
        <div class="col-6">
            <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />
        </div>


        <br />
        <div class="form-group">

            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Appointment.ID" value="Delete" />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>

</form>




@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '7',
            maxTime: '6:00pm',
            defaultTime: '7',
            startTime: '7:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });
        $(function () {
            $("#datepicker").datepicker({
                minDate: +0, maxDate: "+3M"
            });
        });

        $(document).ready(function () {

            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");
            }
            else {
                splitData = appointmentTime.split("T")
            }


            var time = splitData[1].substring(0, 5);

            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1)
            }
            var amPmTime = splitData[2];
            $('#datepicker').attr('value', splitData[0]);
            $('#timepicker').attr('value', time + ' ' + amPmTime);
            console.log("asd")
        });
    </script>
}