@model PrimoCeramic.Models.Appointments

<h4 class="text-success">Appointment Details</h4>

<div style="height:auto; background-color:aliceblue">

    <div class="col-12">

        <div class="row" style="padding-top:10px">

            <div class="col-lg-2 col-sm-12">
                Full Name
            </div>
            
            <div class="col-lg-3 col-sm-12">

                <input asp-for="@Model.CustomerName" readonly class="form-control" />

            </div>


            <div class="col-lg-2 col-sm-12">
                Email
            </div>

            <div class="col-lg-3 col-sm-12"> 
                <input asp-for="@Model.CustomerEmail" readonly class="form-control" />

            </div>
        </div>

    </div>
    <div class="col-12">

        <div class="row" style="padding-top:10px">

            <div class="col-lg-2 col-sm-12">
                Phone Number
            </div>

            <div class="col-lg-3 col-sm-12">

                <input asp-for="@Model.CustomerPhone" readonly class="form-control" />

            </div>


            <div class="col-lg-2 col-sm-12">
                Appointment Date
            </div>

            <div class="col-lg-3 col-sm-12">
                <input asp-for="@Model.AppointmentDate" readonly class="form-control" />

            </div>
        </div>

    </div>
</div>